:root {
  --color-text: #f3f3f3;
  --color-btn: rgba(188, 26, 26, 0.2);
  --color-clik: rgba(188, 26, 26, 0.5);
  --color-accent: rgba(188, 26, 26, 0.71);
  --background-color: #100f0f;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  outline: 2px solid blue;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*!-------------------- HEADER --------------------*/

.header {
  /* background: linear-gradient(
    298deg,
    rgba(111, 102, 102, 0.9) 0%,
    rgba(16, 15, 15, 0.9) 100%,
    rgba(16, 15, 15, 0.9) 100%
  ); */
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 208px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-menu {
  display: flex;
  gap: 52px;
}

.header-menu-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-clik);
}

.header-contact-link {
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  padding: 10px 33px 10px 34px;
  font-size: 16px;
  font-weight: 800;
  color: var(--color-text);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-clik);
}

/*!-------------------- HERO --------------------*/

.hero {
  /* background: linear-gradient(
    200deg,
    rgba(111, 102, 102, 0.9) 0%,
    rgba(16, 15, 15, 0.9) 88.73%,
    rgba(16, 15, 15, 0.9) 99.98%
  ); */
  background-color: var(--background-color);
  padding-top: 72px;
  padding-bottom: 71px;
}

.hero-container {
  display: flex;
}

.hero-title {
  font-size: 64px;
  font-weight: 500;
  color: var(--color-text);
  max-width: 388px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-text {
  font-size: 36px;
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 48px;
}

span {
  font-weight: 900;
  color: var(--color-accent);
}

.hero-btn {
  border-radius: 16px;
  padding: 26px 116px;
  padding: 20px 84px 20px 84px;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-btn);
  cursor: pointer;
  border: none;
  margin-bottom: 48px;
}

.hero-menu {
  display: flex;
  gap: 24px;
}

.hero-menu-item {
}

.hero-menu-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
}

.hero-menu-text span {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  color: var(--color-text);
}

.list-img-socials {
  display: flex;
}

.hero-list-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
}

.hero-socials-link:hover,
.hero-socials-link:focus {
  color: var(--color-clik);
}

/*!-------------------- STORE --------------------*/

.store {
  background-color: var(--background-color);
}

.store-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-text);
}

.store-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
}

.store-btn {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-btn);
  cursor: pointer;
}

/*!-------------------- RECIPES --------------------*/

.recipes {
  background-color: var(--background-color);
}

.recipes-title {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-text);
}

/*!-------------------- GALLERY --------------------*/

.gallery {
  background-color: var(--background-color);
}

/*!-------------------- FOOTER --------------------*/

.footer {
  background-color: var(--background-color);
}

.footer-logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
}

.footer-menu-link {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--color-clik);
}

.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--color-clik);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  color: var(--color-clik);
}
